@use "variables" as *;

#root {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-text);
}

.app-name {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  letter-spacing: 4px;
  margin-top: 10rem;
  font-weight: bold;
  color: var(--color-dark-blue);
  font-family: var(--font-display);

  span {
    &:first-child {
      color: var(--color-accent-orange);
      border-top: 3px solid var(--color-dark-blue);
    }

    &:last-child {
      border-bottom: 3px solid var(--color-dark-blue);
    }
  }
}

.app-caption {
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
}

.progress-container {
  width: 100%;
  transition: all 0.4s ease-out;

  &.slide-in {
    animation: slideFromLeft 0.5s ease-out;
  }

  &.fade-in {
    animation: fadeInOpacity 0.6s ease-in;
  }
}

.date-display {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;

  strong {
    font-size: 36px;
    margin: 5px;
  }
}

.daily-progress {
  margin-top: 100px;
  color: var(--color-dark-blue);
  text-align: left;
  max-width: 1200px;
  width: 70vw;
  font-weight: 500;
}

.categories {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  .category-button {
    text-align: center;
    font-weight: bold;
    border: 2px solid transparent;
    transition: 0.11s all ease-in-out;

    &:hover {
      border-color: var(--color-dark-blue);
    }

    &.active {
      border: 2px solid var(--color-dark-blue);
    }
  }

  .toggleButton {
    margin-left: auto;
    transition: 0.1s ease-in-out;
    outline: none;

    &:hover {
      border: none;
    }
  }
}

.task-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 0;
  transition:
    margin-left 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s ease,
    transform 0.3s ease;

  &.is-subtask {
    margin-left: 2rem;
    border-left: 2px solid var(--color-transparent-white-01);
    padding-left: 10px;

    &::before {
      content: "";
      position: absolute;
      left: -1rem;
      top: 0;
      bottom: 0;
      width: 2px;
      background: var(--color-transparent-white-005);
    }
  }

  // Hover states using nesting
  &:hover:not(:focus-within):not(:last-child) {
    .task-input {
      opacity: 0.4 !important;
      padding-right: 180px !important;
      filter: grayscale(1);
    }

    .tags-overlay {
      transform: translateX(-30px);
      max-width: 100%;
    }

    .tag-pill {
      font-size: 0.85rem !important;
      background-color: var(--color-link-hover);
      &:first-child {
        color: var(--color-dark-blue) !important;
        font-weight: bold;
      }
    }

    .task-age {
      opacity: 1;
      color: var(--color-text-primary);
      font-weight: bold;
      font-size: 0.7rem;
      padding: 4px 6px;
      right: -36px;
    }

    .delete-icon {
      opacity: 1;
      color: var(--color-text-primary);
    }
  }

  &:focus-within {
    transform: translateX(2px);
    opacity: 1;

    .tags-overlay {
      transform: translateX(0);
      max-width: 100px !important;

      .tag-pill {
        opacity: 0.3 !important;
        color: var(--color-text-primary);
        font-size: 0.5rem !important;
        transition:
          opacity 0.2s ease,
          color 0.2s ease,
          font-size 0.2s ease;
      }
    }
    .task-age {
      opacity: 1;
      color: var(--color-black);
      font-weight: bold;
      font-size: 0.7rem;
      padding: 4px 6px;
      right: -36px;
    }

    .delete-icon {
      opacity: 0;
    }
  }

  // Contextual styling using :has
  &:has(.task-age) .task-input {
    border-left: 2px solid var(--color-accent-orange);
  }

  &:has(.delete-icon:hover) {
    .task-input,
    .tag-pill {
      opacity: 0.3 !important;
      filter: grayscale(1);
    }
    .task-age {
      background-color: var(--color-accent-orange) !important;
    }
  }

  &:has(.tags-overlay:hover):not(:last-child) {
    .tags-overlay {
      transform: translateX(-30px) !important;
      max-width: 100% !important;
      pointer-events: all !important;
      overflow-x: scroll;
    }

    .tags-overlay .tag-pill {
      opacity: 1 !important;
      color: var(--color-gray-999) !important;
      font-size: 0.7rem !important;
    }
  }

  & .fade {
    opacity: 0.35;
  }

  .task-input {
    border: none;
    border-radius: 4px;
    background-color: var(--color-background-input);
    color: var(--color-text-primary);
    padding: 16px 8px;
    font-size: 1rem;
    width: 100%;
    padding-right: 140px;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.1s ease-in-out;

    &.completed {
      text-decoration: line-through;
    }

    &:focus {
      border-color: var(--color-primary-blue);
      box-shadow: 0 4px 12px rgba(var(--color-primary-blue), 0.15);
      color: var(--color-text-primary) !important;
      text-shadow: none;
    }
  }

  .tags-overlay {
    position: absolute;
    right: 10px;
    max-width: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;

    pointer-events: none;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    .tag-pill {
      font-size: 0.7rem;
      padding: 2px 6px;
      border-radius: 3px;
      color: var(--color-text-light);
      &:first-child {
        color: var(--color-accent-orange-light) !important;
        font-weight: 600;
      }
      &:empty {
        display: none;
      }
    }
  }
  .task-age {
    position: absolute;
    right: -32px;
    font-size: 0.65rem;
    color: var(--color-gray-999);
    background: var(--color-transparent-white-01);
    padding: 1px 4px;
    border-radius: 3px;
    font-weight: 500;
    display: flex;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.2s ease;
  }

  .delete-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    z-index: 2;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
      color: var(--color-text-primary);
    }
  }
}

.nav-curtain {
  position: fixed;
  top: 10%;
  width: 100px;
  height: 100vh;
  opacity: 0.5;
  transition:
    opacity 0.3s ease,
    background 0.5s ease-in-out;
  pointer-events: all;
  z-index: 100;
  background-color: var(--color-primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;

  &.left-curtain {
    left: 0;
    background: linear-gradient(
      to left,
      transparent,
      rgba(255, 255, 255, 0.05)
    );
    border-radius: 0 8px 8px 0;

    &:hover {
      opacity: 1;
      background: linear-gradient(
        to left,
        transparent,
        rgba(48, 134, 192, 0.582) 50%,
        transparent 100%
      );
      background-size: 200% 100%;
      animation: shimmer 1.5s infinite linear;
    }
  }

  &.right-curtain {
    right: 0;
    border-radius: 8px 0 0 8px;
    background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.05)
    );

    &:hover {
      opacity: 1;
      background: linear-gradient(
        to right,
        transparent,
        rgba(48, 134, 192, 0.582) 50%,
        transparent 100%
      );
      background-size: 200% 100%;
      animation: shimmer 1.5s infinite linear reverse;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
