@use 'variables'as *;
@use "sass:color";

:root {
    font-family: $font-text;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;

    // Dark Mode (Default)
    color: $text-dark;
    background-color: $bg-dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Light Mode Overrides
    @media (prefers-color-scheme: light) {
        color: $text-light;
        background-color: $bg-light;
    }
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

a {
    font-weight: 500;
    color: $link-color;
    text-decoration: inherit;

    &:hover {
        color: $link-hover;

        @media (prefers-color-scheme: light) {
            color: color.scale($link-color, $lightness: 15%, $space: oklch);
        }
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $btn-bg-dark;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        border-color: $link-color;
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

    @media (prefers-color-scheme: light) {
        background-color: $btn-bg-light;
    }
}