@use "variables" as *;
@use "sass:color";

@mixin light-theme-mixin {
  --color-scheme: light;

  --color-text-primary: #{$text-light};
  --color-background-primary: #{$bg-light};

  --color-background-input: #{$bg-input-light};
  --color-background-button: #{$btn-bg-light};

  --color-dark-blue: #{$dark-blue};
  --color-primary-blue: #{$primary-blue};
  --color-accent-orange: #{$accent-orange};
  --color-black: #{$black};

  --color-text-light-variant: #{$text-dark};
  --color-text-white: #{$text-white};
  --color-gray-999: #666;
  --color-transparent-white-005: rgba(0, 0, 0, 0.05);
  --color-transparent-white-01: rgba(0, 0, 0, 0.1);

  --color-link: #{$link-color};
  --color-link-hover: #{color.scale(
      $link-color,
      $lightness: 15%,
      $space: oklch
    )};
  --color-theme-hover: #{$accent-orange-light};
}

@mixin dark-theme-mixin {
  --color-scheme: dark;

  --color-text-primary: #{$text-dark};
  --color-background-primary: #{$bg-dark};

  --color-background-input: #{$bg-input-dark};
  --color-background-button: #{$btn-bg-dark};

  --color-dark-blue: #{$dark-blue};
  --color-primary-blue: #{$primary-blue};
  --color-accent-orange: #{$accent-orange};
  --color-accent-orange-light: #{$accent-orange-light};
  --color-black: #{$black};

  --color-text: #{$text-light};
  --color-text-white: #{$text-white};
  --color-gray-999: #999;
  --color-rgba-white-005: rgba(255, 255, 255, 0.05);
  --color-rgba-white-01: rgba(255, 255, 255, 0.1);
  --color-nav-curtain-hover: rgba(48, 134, 192, 0.582);

  --color-link: #{$link-color};
  --color-link-hover: #{$link-hover};
  --color-theme-hover: #{$accent-orange-light};
}
:root {
  --font-text: #{$font-text};
  --font-display: #{$font-display};
  @include dark-theme-mixin();
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    @include light-theme-mixin();
  }
}

html[data-theme="light"] {
  @include light-theme-mixin();
}

html[data-theme="dark"] {
  @include dark-theme-mixin();
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
  font-family: var(--font-text);
  color-scheme: var(--color-scheme);
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;

  &:hover {
    color: var(--color-link-hover);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-background-button);
  color: var(--color-text-primary);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--color-link-hover);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: var(--color-background-button);
  color: var(--color-text-primary);
  padding: 0.5em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  border: none;
  transition: all 0.1s ease-in;

  &:hover {
    color: var(--color-theme-hover) !important;
    transform: scale(1.01);
    svg {
      fill: var(--color-text);
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
