@font-face {
    font-family: 'Optimistic';
    src: url('../assets/fonts/Optimistic_Text_W_Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Optimistic';
    src: url('../assets/fonts/Optimistic_Text_W_It.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Optimistic';
    src: url('../assets/fonts/Optimistic_Text_W_Md.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Optimistic';
    src: url('../assets/fonts/Optimistic_Text_W_Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Optimistic Display';
    src: url('../assets/fonts/Optimistic_Display_W_Md.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Optimistic Display';
    src: url('../assets/fonts/Optimistic_Display_W_Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Optimistic Display';
    src: url('../assets/fonts/Optimistic_Display_W_SBd.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}