// Brand Colors
$dark-blue: #48576e;
$primary-green: #4CAF50;
$primary-blue: #007bff;
$accent-orange: orange;
$black: #000;

// Theme Colors
$bg-dark: #242424;
$text-dark: rgba(255, 255, 255, 0.87);
$bg-light: #ffffff;
$text-light: #213547;

// Component Colors
$link-color: #646cff;
$link-hover: #535bf2;
$btn-bg-dark: #1a1a1a;
$btn-bg-light: #f9f9f9;
$bg-input-gray: #eee;
$text-white: #fff;

$font-text: 'Optimistic Text',
Calibri;
$font-display: 'Optimistic Display',
Calibri;