#root {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.app-name {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  font-size: 6rem;
  letter-spacing: 4px;
  margin-top: 10rem;
  font-weight: bold;
  color: #48576e;
  font-family: "Roboto", sans-serif;
}
.app-name span:first-child {
  color: orange;
  border-top: 3px solid #48576e;
}
.app-name span:last-child {
  border-bottom: 3px solid #48576e;
}

.date-display {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}
.date-display strong {
  font-size: 36px;
  margin: 5px;
}
.daily-progress {
  margin-top: 100px;
  color: #48576e;
  text-align: left;
  max-width: 1200px;
  width: 100%;
}

.progress-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.progress-input {
  border: none;
  border-radius: 4px;
  background-color: #eee;
  color: #000;
  padding: 16px 8px;
  font-size: 1rem;
  width: 100%;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}
.progress-input:focus {
  border-bottom-color: #007bff;
}
